<template>
  <div class="hello">
    <div class="standard-bottom-margin">
      <InputText type="Insert word" placeholder="Insert word" class="add-word-input" v-model="word" />
      <Button v-on:click="addWord()" label="Add word" class="xs-full-width p-button-info" />
    </div>
    <Button v-on:click="saveToLocalStorage()" label="Save to local storage" class="xs-full-width standard-bottom-margin p-button-secondary" /><br>
    <Button v-on:click="loadFromLocalStorage()" label="Load from local storage" class="xs-full-width standard-bottom-margin p-button-secondary" /><br>
    <Button v-on:click="refresh()" label="Reload from api" class="xs-full-width standard-bottom-margin p-button-success" /><br>
    <draggable
        v-model="myArray"
        group="people"
        item-key="id">
      <template #item="{element, index}">
        <div class="word-item">{{ element.name }} - {{ index }}
          <span v-on:click="removeWord(index)" class="remove-word">Remove</span>
        </div>
      </template>
    </draggable>
  </div>
</template>

<script>
import draggable from 'vuedraggable';
import Button from 'primevue/button';
import InputText from 'primevue/inputtext';

export default {
  components: {
    draggable,
    Button,
    InputText
  },
  mounted() {
    let thisInCustomVariable = this;
    this.$store.dispatch('loadWords').then(function (response) {
      thisInCustomVariable.myArray = response.data;
    });
  },
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data() {
    return {
      drag: false,
      word: null,
      myArray: [
        {name: 'Goku'},
        {name: 'Vegeta'},
        {name: 'Piccolo'}
      ]
    };
  },
  methods: {
    refresh: function () {
      let thisInCustomVariable = this;
      this.$store.dispatch('loadWords').then(function (response) {
        thisInCustomVariable.myArray = response.data;
      });
    },
    removeWord: function (index) {
      this.myArray.splice(index, 1);
    },
    addWord: function () {
      if (this.word === null || this.word === '') {
        alert('Please fill text to word.');
      } else {
        this.myArray.unshift({'name': this.word});
        this.word = null;
      }
    },
    saveToLocalStorage: function () {
      this.$store.dispatch('saveToLocalStorageSignal', this.myArray).then(function () {
        alert('Saved');
      });
    },
    loadFromLocalStorage: function () {
      let thisInCustomVariable = this;
      this.$store.dispatch('loadFromLocalStorageSignal').then(function (response) {
        if (response !== null) {
          thisInCustomVariable.myArray = response;
          alert('Loaded');
        } else {
          alert('You have to save data first.');
        }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.word-item {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 15px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  cursor: grab;
  border-radius: 13px;
}
.add-word-input {
  margin-right: 15px;
}

.remove-word {
  cursor: pointer;
  color: palevioletred;
}

.standard-bottom-margin {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .add-word-input {
    margin-right: 15px;
    margin-bottom:15px;
    width: 100%;
  }
  .xs-full-width {
    width: 100%;
  }
}

</style>
